body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-image: url('../assets/hogwart.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* font-family: 'Princess Sofia'; */
    /* font-family: 'Merienda One' ; */
    font-family: 'Berkshire Swash' ;
    
}

.container {
    height: 100%;
}

.App {
    position: absolute;
    z-index: 20;
    top: 30%;
    left: 40px;
    text-align: center;
    padding: 40px;   
    color: white;
    margin: auto;       
}

.section {
    position: absolute;
    z-index: 20;
    top: 20%;
    color: white;
    text-align: center;
}

.menu-link {
    text-decoration: none;
    color: lightblue;
}


.house {
    padding: 10px;
    margin: 30px;

}
.input {
    width: 300px;
}

.autocompleteContainer {
    background-color: rgba(255, 255, 255, .6);
    
}

.listItems {
    margin: 0;
}
.listItem {
    list-style: none;
    margin: 0;
    
}
.listItem p {
    margin: 0;
}
.listItem p:hover {
    cursor: pointer;
    background-color: grey;
}