.houses-bg {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/backgrounds/hogwartHouses.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.houses {
    margin: auto;
}

.house {
    padding: 10px;
    margin: 30px;
    text-shadow: 2px 2px 2px black;
}

.random-house {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 2px 2px 3px black;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 1px;
    border-radius: 3px;
}