@import './menu';

* {
    box-sizing: border-box;
  }

body {
    padding: 0;
    margin: 0;
    background-image: url('../assets/hogwart.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* font-family: 'Princess Sofia'; */
    /* font-family: 'Merienda One' ; */
    font-family: 'Berkshire Swash' ; 
}

.landing-page {
    width: 100vw;
    height: 100vh;
    
}
.btn-landing_page {
    width: 7rem;
}
.App {
    position: absolute;
    z-index: 20;
    top: 30%;
    text-align: center;
    padding: 40px;   
    color: white;
    margin: auto; 
    width: 100%;  
        
}

.section {
    position: absolute;
    z-index: 20;
    top: 20%;
    color: white;
    text-align: center;
}

.menu-link {
    text-decoration: none;
    color: white;
    position: relative; 
    padding: 5px;
}

.menu-link::before,
.menu-link::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: lightgrey;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform .5s;
   
}
.menu-link::after {
    bottom: 0;
    transform-origin: right;
}
.menu-link::before {
    top: 0;
    transform-origin: left;
}

.menu-link:hover {
    text-decoration: none;
    color: lightgrey;
}
.menu-link:hover::before,
.menu-link:hover::after {
    transform: scaleX(1);
}

.house {
    padding: 10px;
    margin: 30px;

}
.input {
    width: 300px;
}

.autocompleteContainer {
    background-color: rgba(255, 255, 255, .6);
    
}

.listItems {
    margin: 0;
}
.listItem {
    list-style: none;
    margin: 0;
    
}
.listItem p {
    margin: 0;
}
.listItem p:hover {
    cursor: pointer;
    background-color: grey;
}