@import './menu';
@import './housesSection';
@import './spellsSection';


* {
    box-sizing: border-box;
  }

body {
    padding: 0;
    margin: 0;
    
    /* font-family: 'Princess Sofia'; */
    /* font-family: 'Merienda One' ; */
    font-family: 'Berkshire Swash' ; 
}

.landing-page {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/hogwart.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.btn-landing_page {
    width: 7rem;
}
.App {
    position: absolute;
    z-index: 20;
    top: 30%;
    text-align: center;
    padding: 40px;   
    color: white;
    margin: auto;   
    text-shadow: 3px 3px 4px black; 
}

.section {
    position: absolute;
    z-index: 20;
    top: 20%;
    color: white;
    text-align: center;  
}





